<header class="mw-100 pv5 center tc" role="banner" itemscope itemtype="http://schema.org/WPHeader">
  <a href="/" class="dib mv2 ph2 link dark-gray hover-white hover-bg-gray ba b--gray">
    <h1 class="f1 ma0 js-keyword-title" itemprop="headline">
      {{ site.title }}
    </h1>
  </a>

  <div class="dn js-keyword-title-copy">
    <p class="lh-copy">
      Start typing to search for a character,
      <br />
      then click one to have it copied instantly to your clipboard!
    </p>
    <p class="lh-copy">
      Supports keyboard arrow naviation, and hit <code>Enter</code> to copy to clipboard.
    </p>
  </div>
</header>
