<!-- Open Graph -->
<meta content="{{ site.title }}" property="og:site_name">
<meta content="{{ site.title }}" property="og:title">
<meta content="website" property="og:type">
<meta content="{{ site.meta_description }}" property="og:description">

<!-- Twitter Cards  -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.twitter.username }}">
<meta name="twitter:creator" content="@{{ site.twitter.username }}">
<meta name="twitter:title" content="{{ site.title }}">
<meta name="twitter:description" content="{{ site.meta_description }}">
