---
layout: base
---


<div class="mw9 mb4 center tc loading-container js-loading-container">
  <div class="f-6">
    <span class="anim-wave">🌊</span><span class="anim-ship">🛳</span>
  </div>
  <p class="f3">
    Loading…
  </p>
</div>

<div class="mw9 center dn js-char-list">
  <ul class="flex flex-wrap justify-center ma0 pa0 list">
  {% for char in site.data.unicode %}
    {% capture keywords %}{% for keyword in char.keywords %}{{ keyword }}{% unless forloop.last %}, {% endunless %}{% endfor %}{% endcapture %}
    <li class="flex flex-column w5 ma3 pa3 ba b--light-gray tl js-unicode-char"
        data-code="{{ char.code }}"
        data-keywords="{{ keywords }}">
      <a href="#" class="link js-clipboard" data-clipboard-text="{{ char.emoji }}">
        <h2 class="ma1 f-5 pa3 lh-solid tc">
          {{ char.emoji }}
        </h2>
      </a>
      <p class="ma1">
        <strong>Name</strong>
        <br />
        {{ char.name | downcase }}
      </p>
      <p class="ma1">
        <strong>Code</strong>
        <br />
        {{ char.code }}
      </p>
      {% if char.keywords %}
      <p class="ma1">
        <strong>keywords</strong>
        <br />
        {{ keywords }}
      </p>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>
