/* 3rd-party */
@import 'normalize.css';

/* Tachyons */
@import 'tachyons-base.css';

@import 'tachyons-box-sizing.css';
@import 'tachyons-flexbox.css';
@import 'tachyons-position.css';
/*
@import 'tachyons-overflow.css';
*/
@import 'tachyons-display.css';
@import 'tachyons-coordinates.css';
/*
@import 'tachyons-floats.css';
@import 'tachyons-clears.css';
*/
@import 'tachyons-heights.css';
@import 'tachyons-widths.css';
@import 'tachyons-max-widths.css';
@import 'tachyons-spacing.css';
@import 'tachyons-borders.css';
@import 'tachyons-border-style.css';
@import 'tachyons-border-colors.css';
@import 'tachyons-border-widths.css';
/*
@import 'tachyons-border-radius.css';
*/

@import 'tachyons-typography.css';
@import 'tachyons-line-height.css';
@import 'tachyons-text-decoration.css';
@import 'tachyons-font-style.css';
@import 'tachyons-font-family.css';
@import 'tachyons-font-weight.css';
@import 'tachyons-letter-spacing.css';
@import 'tachyons-type-scale.css';
@import 'tachyons-text-align.css';

/*
@import 'tachyons-vertical-align.css';
*/
@import 'tachyons-white-space.css';
@import 'tachyons-hovers.css';
@import 'tachyons-links.css';
@import 'tachyons-lists.css';

@import 'tachyons-opacity.css';
@import 'tachyons-visibility.css';

@import 'tachyons-skins.css';
@import 'tachyons-utilities.css';


/* Custom loading css */

@keyframes rock-the-boat {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-7deg);
  }
  100% {
    transform: rotate(3deg);
  }
}

@keyframes riding-the-wave {
  0% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(7deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

.loading-container {
  position: relative;
}

.anim-wave,
.anim-ship {
  position: relative;
  display: inline-block;
}

.anim-wave {
  right: -2rem;

  animation-name: rock-the-boat;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transition-timing-function: ease-in-out;
}

.anim-ship {
  left: -2rem;
  bottom: -0.5rem;

  animation-name: riding-the-wave;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transition-timing-function: ease-in-out;
}

.notification-overlay {
  transition: opacity .2s ease-in-out;
}
